.room_container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.chat_section_container {
  height: 100%;
  width: 305px;
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  /* background-color: #E8E8CC; */
  /* background-color: rgb(66, 65, 65); */
  background-color: #d6e4fc;
}

.chat_label_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  /* background-color: red; */
}

.chat_label_paragraph {
  font-weight: 700;
  color: black;
  font-size: 16px;
  margin: 0px 0px 0px 90px;
}

.new_message_container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 
}

.new_message_input {
  border: 1px solid #d1dbe2;
  border-radius: 60px;
  padding: 0 50px 0px 20px;
  height: 45px;
  font-size: 16px;
  width: 98%;
  box-shadow: 2px 20px 5px rgba(0, 82, 201, 0.05);
  outline: none;
  /* margin-right: 1px; */
}
.new_message_input:focus{
  outline: 2px solid gray;
}

.new_message_textarea:focus {
  outline: none;
}

.new_message_button {
  position: absolute;
  right: 4%;
  cursor: pointer;
  font-size: 30px !important;
  
}
.new_message_button:hover{
  color: blue;
}

.messages_container {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.message_container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.message_align_left {
  align-items: flex-start;
}

.message_align_right {
  align-items: flex-end;
}

.message_left_styles {
  background: rgba(0, 82, 201, 0.1);
  color: black;
}

.message_right_styles {
  /* background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%); */
  background-color: #c0d5fa;
  color: black;
}

.message_title {
  margin: 0 0 10px 0;
  padding: 0 10px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.message_content {
  margin: 0px 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  display: inline-block;
  position: relative;
  text-align: start;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background: rgba(0, 188, 164, 0.1);
  position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 10px;
}

.overlay_container {
  width: 100%;
  height: 100vh;
  background: #202124;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0052c9; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.participants_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  height: 50%;
}

.participants_paragraph {
  color: black;
  text-align: start;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
  margin: 7px 40px;
  padding: 10px 0px;
  background-color: #c0d5fa;
  display: block;
  padding: 5px;
}

.participants_paragraph:hover {
  background-color: #a6c6fd;
  /* border-radius: 8px; */
  cursor: pointer;
}

.participants_separator_line {
  width: calc(100% - 80px);
  height: 2px;
  background-color: #e5e5e5;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.participants_section_container {
  height: 100%;
  width: 305px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px ;
  left: 0px;
  z-index: 999;
  /* background-color: #E8E8CC; */
  /* background-color: rgb(66, 65, 65); */
  background-color: #d6e4fc;

}


.participants_label_paragraph {
  font-weight: 700;
  color: #9ca5ab;
  margin-left: 40px;
  font-size: 16px;
}

.local_screen_share_preview {
  position: absolute;
  width: 15%;
  height: 90%;
  background-color: black;
  border-radius: 8px;
  border: 2px solid blue;
  left: 1%;
  bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_buttons_container {
  width: 60%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 20%;
  bottom: 0;
  /* background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%); */
  background-color: rgb(66, 65, 65);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  /* z-index:999; */
}

.video_button_container {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  color: white;
}

.video_button_image {
  height: 80%;
  padding: 10px;
  border-radius: 25px;
  transition: 0.3s;
}

.video_button_image:hover {
  background: blue;
  padding: 10px;
  border-radius: 25px;
}
.recod-btn{
  background-color: #ac2121 !important;
  color:white !important;
  transition: all 0.5s;
  position: relative;
  top: 0px;
  right: 0px;
}
.recod-btn-stop{
  background-color: #ac2121 !important;
  color:white !important;
  transition: all 0.5s;
  position: relative;
  top: -22px;
  right: 0px;
}

.video_button_end {
  width: 9vw;
  height: 3vw;
  font-size: 1vw;
  font-weight: 600;
  border-radius: 65px;
  border: none;
  color: white;
  /* background: #e91410; */
  transition: all 0.8s;
  background-color: rgb(243, 79, 79);
  box-shadow: 0px 3px 30px rgba(252, 93, 91, 0.1);
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.video_button_end:hover {
  background: red;
  color: white;
}

.videos_container {
  height: 100%;
  width: 100%;
  /* margin-left: 10px !important; */
  background-color: #f6f9fb;
  position: relative;
  border-radius: 0px 0px 25px 25px;
}

.participants {
  display: flex;
  width: 100%;
  height: 100%;
}

.participant {
  flex-grow: 1;
  margin-right: 100px;
}

/* .identity {
        position: absolute;
        left: 0px;
        bottom: 15px;
        color: white;
        padding-left: 15px;
        box-sizing: border-box;
        z-index: 10;
      } */
  
.hostControl{
  position: relative;
  bottom: 41px;
  left: 90px;
}
.participants_container2{
  height: 50px;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.screen_share_track {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.room {
  width: 100%;
  height: 100%;
}

video {
  width: 98%;
  height: 98%;
  margin: 0px;
}

.room_label {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 4;
  /* margin-left: 20%; */
}

.room_label_paragraph {
  font-size: 17px;
  color: white;
  margin-top: 0;
  padding: 18px 38px;
  /* background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%); */
  background-color: rgb(66, 65, 65);
  border-radius: 0px 0px 15px 15px;
}

.video_track_container:first-child:nth-last-child(1) {
  width: 100%;
  height: 100%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(2),
.video_track_container:first-child:nth-last-child(2) ~ .video_track_container {
  width: 50%;
  height: 50%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(3),
.video_track_container:first-child:nth-last-child(3) ~ .video_track_container {
  width: 50%;
  height: 50%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(4),
.video_track_container:first-child:nth-last-child(4) ~ .video_track_container {
  width: 50%;
  height: 50%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(5),
.video_track_container:first-child:nth-last-child(5) ~ .video_track_container {
  width: 33%;
  height: 33%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(6),
.video_track_container:first-child:nth-last-child(6) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(7),
.video_track_container:first-child:nth-last-child(7) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(8),
.video_track_container:first-child:nth-last-child(8) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(9),
.video_track_container:first-child:nth-last-child(9) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_section_container {
  height: 100%;
  width: 80%;
  display: flex;
  margin-right: -250px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.full_screen {
  position: absolute;
  width: 100%;
  height: 102%;
  top: 0%;
  z-index: 99;
  left: 0%;
  background: #202124;
/* background: linear-gradient(90deg, rgba(66,133,237,1) 17%, rgba(6,73,164,0.9923319669664741) 90%); */
}
.full_screen p{
  margin-top: 80% !important;
  margin-left: 45% !important;
}

.label_only_audio_container {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0%;
}

.label_only_audio_container {
  font-size: 18px;
  color: black;
}

.direct_chat_container {
  height: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.direct_chat_header {
  height: 50px;
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  width: 95%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.direct_chat_header_paragraph {
  color: white;
  font-size: 16px;
}

.new_message_direct_border {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  width: 95%;
}

.direct_messages_container {
  flex-grow: 1;
  width: 95%;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.conversation_not_chosen_overlay {
  width: 95%;
  height: 86%;
  bottom: 0;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  position: absolute;
}

.conversation_not_chosen_overlay_text {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin-bottom: 80px;
}

.direct_message_container_author {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.direct_message_container_reciever {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.author_direct_message {
  /* background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%); */
  background-color: #c0d5fa;
  float: right;
  border-radius: 8px 8px 0px 8px;
  padding: 10px;
  margin-right: 5px;
  color: black;
  display: inline;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  margin-left: 5px;
}

.reciever_direct_message {
  border-radius: 8px 8px 8px 0px;
  border: 1px solid #d5deeb;
  background: #ffffff;
  padding: 10px;
  float: left;
  margin-left: 5px;
  display: inline;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  margin-right: 5px;
  
}




/* new */
.dlkJUZ {
  padding: 20px;
  display: block !important;
  /* display: flex; */
  height: auto;
  width: auto;
  margin: 10px;
  -webkit-flex-wrap: none;
  -ms-flex-wrap: nowrap;
  flex-wrap: wrap;
}
.copy-icon{
 height: 50px !important;
 width: 50px !important;
 color: white !important;
 margin-bottom: 20px !important;
 transition: all 0.5s;
}
.record-screen{
  background-color: tomato !important;
  margin: 0px 10px !important;
}
.cursor{
  cursor: pointer;
}
.chat-close-icon{
  margin-right: 30px;
  font-size: 35px !important;
  cursor: pointer;
}
.chat-close-icon:hover{
  color: red !important;
}
.user-name-video{
  background-color: red !important;
  /* font-size: 500px !important; */
  position:absolute;
  bottom: 10%;
  left:10%;
  height: 30px;
  width: 250px;
  color: white;
}

.video_track_container p {
  position: relative;
  display: block;
  bottom: 5%;
  left:43%;
  width: 250px;
  height: 30px;
  /* margin-top: 10px; */
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.message-time-display{
  font-size: 12px !important;
  position: relative !important;
  left: 0px;
  bottom: 0px;
}

.room-label-center-content{
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.my-flex{
  display: flex;
  justify-content: center;
}

.live-time{
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 20px;
  color:white;
}

.recording-icon{
  margin-top: 10px !important;
  margin-right: 20px !important;
  cursor: pointer;
}
.full-screen-name-pos{
  position: absolute !important;
  /* top: 5px; */
  bottom:-25px !important;
  z-index: 999;
  color: white !important;
}
.video-record{
  font-size: 35px !important;
}

.blink-red-circle{
  animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate; 
  height: 8px !important;
  width: 8px !important;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: 21px;
  left: 11px; 
  cursor: pointer;
}

@keyframes blinker {  
from { opacity: 1; }
to { opacity: 0; }
}

::-webkit-scrollbar{
  background-color: lightgray !important;
}
::-webkit-scrollbar-thumb{
  background: black !important;
}


.MuiButton-root{
  min-width:0px !important;
}
.MuiSvgIcon-root:hover {
  cursor: pointer !important;
}
.fileUpload:hover{
  cursor: pointer !important;
}

/* for rsponsive ui meida query */

  
@media (max-width:1250px) {
  .room_label_paragraph{
    display:none;
  }
}

@media (max-width:926px) {
  .video_buttons_container {
    width: 60vw;
  }
}

@media (max-width:600px) {
  .video_track_container:first-child:nth-last-child(1) {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  .video_track_container:first-child:nth-last-child(2),
  .video_track_container:first-child:nth-last-child(2) ~ .video_track_container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  .video_track_container:first-child:nth-last-child(3),
  .video_track_container:first-child:nth-last-child(3) ~ .video_track_container {
    width: 100%;
    height:auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  .video_track_container:first-child:nth-last-child(4),
  .video_track_container:first-child:nth-last-child(4) ~ .video_track_container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .video_track_container:first-child:nth-last-child(5),
  .video_track_container:first-child:nth-last-child(5) ~ .video_track_container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .video_track_container:first-child:nth-last-child(6),
  .video_track_container:first-child:nth-last-child(6) ~ .video_track_container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .video_track_container:first-child:nth-last-child(7),
  .video_track_container:first-child:nth-last-child(7) ~ .video_track_container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .video_track_container:first-child:nth-last-child(8),
  .video_track_container:first-child:nth-last-child(8) ~ .video_track_container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .video_track_container:first-child:nth-last-child(9),
  .video_track_container:first-child:nth-last-child(9) ~ .video_track_container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .video_track_container p{
    left: auto;
    top: 0px;
    width: auto;
  }
  .video_buttons_container{
    width: 80vw;
    left: auto;
  }
  .video_track_container {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
  .video_track_container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

}
