.end-main-div{
    height: 100vh;
    flex-direction: column;
    background-color: #202124 !important;
}
.my-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
div h1{
    color: white;
}
.return-home-btn{
    height: 40px;
    width: 280px;
    background-color: rgba(36, 204, 255, 0.671) !important;
    color: black !important;
    font-weight: 600 !important;
    cursor: pointer;
    margin-top: 30px !important;
}
.return-home-btn:hover{
    color: black !important;
    background-color: rgb(36, 204, 255) !important;
}
.feedback{
    text-decoration: none;
    color: rgb(214, 255, 30);
    font-size: 18px;
    font-weight: 500;
}
.feedback:hover{
    color: yellow !important;
}
.logo-end-page{
    height: 70px;
}