.header{
    height: 100px;
    background-color: black;
    /* box-shadow: 0px 2px 2px rgb(221, 215, 215); */
    padding: 20px;
    box-sizing: border-box;

}
.my-h-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    height: 70px;
    cursor: pointer;
}
/* .user-avatar{
    cursor: pointer;
} */
.auth-btn{
    background-color: rgba(255,195,30) !important;
    color: black !important;
}
.user-auth-box{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.user-avatar{
    cursor: pointer;
    margin-bottom: 10px;
}
.user-name-date{
    color:white;
    margin: 0px;
    font-size: 2vw;
}